@model EventsManagerModels.Lunch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lunch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Misc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Misc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sweet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sweet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
