@model EventsManagerModels.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestContribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowGuest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowGuest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
